<p id="notice"><%= notice %></p>

<h1>Events</h1>

<table>
  <thead>
    <tr>
      <th>Start</th>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.start %></td>
        <td><%= event.title %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= edit_event(event) %></td>
        <td><%= delete_event(event) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>

<br>

<% if user_signed_in? %>
  <h1>
    Events confirmed to attend:
  </h1>
  <div>
    <ul>
      <% Attendance.all.each do |event| %>
        <% unless attend_confirmed(event).nil? %>
          <li><%= attend_confirmed(event)[:title] %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>