<p id="notice"><%= notice %></p>

<p>
  <strong>Start:</strong>
  <%= @event.start %>
</p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Creator:</strong>
  <%= User.find_by(id: @event.user_id)[:username] %>
</p>

<h2>
  Confirmed attendees
</h2>

<% Attendance.all.each do |f| %>
    <% if @event.id == f.event_to_attend_id %>
      <% @v = User.find_by(id: "#{f.attendee_id}")[:username]%>
      <% @attendance_list << @v %>
      <% @v = ''%>
    <% end %>
<% end %>

<ul>
  <% @attendance_list.each do |r| %>
    <li>
      <%= r %>
    </li>
  <% end %>
</ul>

<% if user_signed_in? %>
  <% unless @attendance_list.include?(current_user.username) %>
    <p>
      <%= link_to 'Confirm attendance', new_event_attendance_path(@event) %>
    </p>
  <% else %>
    <%= link_to 'Cancel attendance', new_event_attendance_path(@event) %>
  <% end %>
<% end %>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
